/*
* FAQ styles start
*/

.faq-hero {
    width: 100%;
    height: 442px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 300px;
}

.faq-title {
    text-align: center;
}

.faq-title__pre-title {
    color: #ffffff;
    font-family: "Roboto Mono";
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2.29px;
    line-height: 29px;
    text-transform: uppercase;
    margin: 0 15px;
}

.faq-title .page-title {
    color: #ffffff;
    font-family: Yrsa;
    font-size: 46px;
    font-weight: 700;
    line-height: 49px;
    text-transform: uppercase;
    margin: 0;
}

.faq {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 120px;
    background-attachment: fixed;
}

.faq-wrapper {
    width: 90%;
    margin: 0 auto;
    padding-top: 36px;
}

.faq-tabs {
    width: 97%;
    margin: 0 auto 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 0;
    list-style: none;
}

.faq-tabs__item {
    position: relative;
}

.faq-tabs__item:before {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #000000;
    position: absolute;
    left: -29%;
    top: 66%;
}

.faq-tabs__item:first-child:before {
    display: none;
}

.faq-tabs__item.long-title:before {
    left: -20%;
}

.faq-tabs__item a {
    text-align: center;
    color: #000000;
    font-family: Yrsa;
    font-size: 22px;
    font-weight: 400;
    line-height: 23px;
    padding-bottom: 5px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 0 auto;
}

.faq-tabs__item a:after {
    content: "";
    width: 0;
    margin-top: 5px;
    height: 1px;
    background-color: #000000;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.faq-tabs__item a img {
    opacity: 0;
    display: inline-block;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    margin: 0 auto 10px;
}

.faq-tabs__item a:hover, .faq-tabs__item a.active {
    font-weight: 700;
}

.faq-tabs__item a.active img {
    opacity: 1;
}

.faq-tabs__item a:hover:after, .faq-tabs__item a.active:after {
    width: 100%;
}

.faq-tabgroup {
    background: #ffffff;
}

.faq-tabgroup > div {
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.14);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.14);
    padding: 10px 60px 45px;
}

.faq-accordion {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.faq-accordion .inner {
    overflow: hidden;
    display: none;
    padding: 0 27px 30px;
    margin-top: -40px;
}

.faq-accordion li {
    border-bottom: 1px solid #000000;
}

.faq-accordion li a.toggle {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    height: 100px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #000000;
    font-family: "Work Sans";
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    position: relative;
}

.faq-accordion li a.toggle:before {
    content: "+";
    display: block;
    margin-right: 20px;
}

.faq-accordion li a.toggle.active:before {
    content: "-";
}

@media (max-width: 1200px) {
    .faq-wrapper {
        width: 100%;
    }
}

@media (max-width: 1080px) {
    .faq-tabs__item.long-title:before {
        left: -12%;
    }
}

@media (max-width: 980px) {
    .faq-tabs {
        width: 100%;
    }
    
    .faq-tabs__item:before {
        left: -3%;
    }
    
    .faq-tabs__item {
        width: 22%;
    }
    
    .faq-tabs__item a {
        width: 100%;
    }
    
    .faq-tabs__item.long-title:before {
        left: -3%;
    }
    
    .faq-accordion li a.toggle {
        height: auto;
        padding: 20px 0;
        align-items: flex-start;
    }
}

@media (max-width: 768px) {
    
    .faq-hero {
        height: auto;
        padding-top: 190px;
        padding-bottom: 50px;
    }
    .faq {
        padding-bottom: 50px;
    }
    

}

@media (max-width: 700px) {
    .faq-tabs__item:before {
        display: none;
    }
}


@media (max-width: 540px) {
    .faq-hero {
        padding-top: 152px;
        padding-bottom: 18px;
    }
    .faq-wrapper {
        padding-top: 15px;
    }
    .faq-tabs {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-bottom: 15px;
    }
    
    .faq-tabs__item {
        width: 100%;
        padding-top: 5px;
    }
    .faq-tabs__item .active {
        padding: 10px 0;
    }
    
    .faq-tabs__item a {
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        padding: 0 2px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    
    .faq-tabs__item a:before {
        content: '';
        display: block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #000000;
        margin-bottom: 10px;
        opacity: 0;
    }
    
    .faq-tabs__item a.active:before {
        opacity: 1;
    }
    
    .faq-tabs__item a img {
        display: none;
    }
    
    .faq-tabgroup > div {
        padding: 10px 15px 20px;
    }
    
    .faq-accordion .inner {
        padding: 10px 10px;
    }
    
}

@media (max-width: 355px) {
    .faq-title__pre-title {
        font-size: 13px;
    }
}


@media (min-width: 1439px) {
    .tabs-vinegar {
        padding-left: 21px;
    }
    .faq-tabs__item.long-title:before {
        left: -19%;
    }
}

@media (min-width: 1200px) and (max-width: 1400px) {
    .faq-tabs__item.long-title:before {
        left: -14%;
    }
}


/*
* FAQ styles end
*/